*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

table{
    border: solid 1px green;
    margin: 3rem auto;
    background-color: rgb(36, 99, 99);
    padding: 2rem;
    border-radius: 1rem;
}

.output{
    font-weight: bold;
}

#payment {
     text-decoration: underline; 
    }

#graph {
     border: solid black 1px;
     margin: 1rem; 
     border-radius: 1rem;
     background-color: rgb(181, 198, 212);
    }

th, td {
     vertical-align: top; 
    }

input{
      margin-left: 1rem;
      padding: .5rem;
      border-radius: .5rem;
      border: none;
    }

button{
    margin-left: 2.3rem;
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 1rem;
    background-color: green;
    cursor: pointer;
}