body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player, .computer{
    width: 60vw;
    height: 40vh;
    margin: 2rem;

}

.options{
    display: flex;
}

.player img, .computer img{
    width: 6rem;
    height: 6rem;
}

.p{
    text-align: center;
}